{% extends "base.html" %}

{% block content %}

<h1>Home</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, necessitatibus expedita! Nulla, consectetur quos beatae doloremque exercitationem, accusantium enim voluptatem modi, ex temporibus porro quae officiis. Voluptatem dicta, vel quaerat aliquid voluptate autem dignissimos, aliquam earum at laborum, voluptatibus fugit id asperiores soluta? Ducimus fugit illum tenetur ipsa mollitia, sapiente provident dignissimos accusantium modi, obcaecati, qui quas dolorum rem rerum debitis quaerat impedit labore cum illo dolor iure voluptatum. Iusto quae expedita porro dolorum voluptas unde neque eaque molestiae consequuntur molestias provident dignissimos, itaque autem at vero quibusdam commodi! Minus ipsum fugiat temporibus iure suscipit, ipsa voluptate. Asperiores, dignissimos quae!</p>

{% endblock %}